@media (max-width:375px) {
    .container form {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .checkbox-remenber {
        gap: 0rem;
    }
}

@media (max-width:335px) {
    .checkbox-terms {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width:252px) {
    .checkbox-remenber {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-height:514px) {
    .container form {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}